@font-face{
	font-family: PROPAGAN;
	src: url(fonts/PROPAGAN.ttf);
}
@font-face{
	font-family: Baloo-Regular;
	src: url(fonts/Baloo-Regular.ttf);
}
@font-face{
	font-family: hello;
	src: url(fonts/hello.ttf);
}
@font-face{
	font-family: heading;
	src: url(fonts/heading.ttf);
}
@font-face{
	font-family: quick;
	src: url(fonts/quick.ttf);
}
@font-face{
	font-family: quick1;
	src: url(fonts/quick1.ttf);
}
@font-face{
	font-family: discovery;
	src: url(fonts/discovery.ttf);
}